<section class="container criar-pensamentos ff-inter">
  <header class="header">
    <h2>Adicione um <br>pensamento novo:</h2>
  </header>
  <form>
    <label for="pensamento">Pensamento</label>
    <input
      type="textarea"
      class="input"
      id="pensamento"
      name="pensamento"
      placeholder="Digite o pensamento"
      [(ngModel)]="thinking.content"
    >
    <label for="autoria">Autoria ou fonte</label>
    <input
      type="text"
      class="input"
      id="autoria"
      name="autoria"
      placeholder="Digite a autoria ou fonte"
      [(ngModel)]="thinking.author"
    >
    <label for="modelo">Selecione o modelo do card:</label>
    <div class="container-radio">
      <div class="radio-modelo">
        <label for="modelo1">
          <input
            type="radio"
            id="modelo1"
            [value]="1"
            name="modelo-card"
            [(ngModel)]="thinking.model"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>
        Prévia:
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="../../../../assets/images/model-1.png" alt="Aspas azuis">
          <p class="conteudo">{{ thinking.content }}</p>
          <p class="autoria"><b>{{ thinking.author }}</b></p>
        </div>
      </div>

      <div class="radio-modelo">
        <label for="modelo2">
          <input
            type="radio"
            id="modelo2"
            [value]="2"
            name="modelo-card"
            [(ngModel)]="thinking.model"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        Prévia:
        <div class="modelo modelo2 ff-roboto-mono">
          <img src="../../../../assets/images/model-2.png" alt="Aspas azul claro">
          <p class="conteudo">{{ thinking.content }}</p>
          <p class="autoria"><b>{{ thinking.author }}</b></p>
        </div>
      </div>

      <div class="radio-modelo">
        <label for="modelo3">
          <input
            type="radio"
            id="modelo3"
            [value]="3"
            name="modelo-card"
            [(ngModel)]="thinking.model"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>
        Prévia:
        <div class="modelo modelo3 ff-roboto-mono">
          <img src="../../../../assets/images/model-3.png" alt="Aspas verdes">
          <p class="conteudo">{{ thinking.content }}</p>
          <p class="autoria"><b>{{ thinking.author }}</b></p>
        </div>
      </div>
    </div>
    <div class="acoes">
      <button (click)="saveThinking()" class="botao">Salvar</button>
      <button (click)="cancelThinking()" class="botao">Cancelar</button>
    </div>
  </form>
</section>
